
.logo{
    float: left;
    padding-left: 50px;
}

.menuBar img{
    margin-top: 25px;
}

.menuImage{
    position: relative;
    text-align: center;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.textOnImage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
}

.sign{
    background-color: white;
    border: black;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 25px;
    vertical-align: center;
}

.homeDiv{
    border-color: black;
    overflow: hidden;
    background-color: lightgray;
    padding: 10px;
    height: 130px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.homeImage{
    float: left;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}





.navbar{
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    text-align: center;
}

.navbar a{
    color: white;
    text-align: center;
    padding-left: 100px;
    text-decoration: none;
    font-size: 25px;
    display: inline;
    border-radius: 25px;
}

.navbar img{
    position: absolute;
    margin-left: -200px;
    margin-top: -18px;
}

.navbar button{
    width: 100px;
    height: 40px;
}

.student {
    width: 48%;
    float: left;
    border-right: #969696;
    border-right-width: 10px;
    border-right-style:solid ;
    padding-bottom: 280px;
}

.student p{
    padding-top: 100px;
    font-size: 40px;
    text-align: center;
    padding-bottom: 30px;
}

.student td{
    font-size: 25px;
    padding-bottom: 30px;
    padding-left: 40px;
}

.student table{
    font-size: 25px;
    padding-left: 40px;
}

.student a{
    float: right;
    padding-right: 80px;
    width: 100px;
    height: 40px;
}

.student button{
    font-size: 20px;
    background-color: black;
    color:white;
}

.employer{
    width:45%;
    float: right;
}

.employer p{
    padding-top: 100px;
    text-align: center;
    font-size: 40px;
    padding-bottom: 30px;
}

.employer td{
    font-size: 25px;
    padding-bottom: 30px;
    padding-left: 40px;
}

.employer button{
    font-size: 20px;
    background-color: black;
    color:white;
}

.employer a{
    float: right;
    padding-right: 100px;
}





.create{
    width: 50%;
    float: left;
}

.create p{
    font-size: 40px;
    padding-left: 40px;
}

.create table{
    padding-left: 40px;
}

.create td{
    font-size:25px;
    padding-bottom: 10px;
    padding-right: 30px;
}

.create choice1 {
    font-size: 18px;
}

.create choice2{
    font-size: 18px;
}

.termsandcondition{
    padding-top: 60px;
    width: 50%;
    float: right;
}

.termsandcondition caption{
    font-size: 18px;
    text-align: center;
    background-color: black;
    color: white;
}

.termsandcondition button{
    font-size: 20px;
    background-color: black;
    color:white;
}

.sign_inbutton{
    padding:10px 15px;
    background: black;
    color: white;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-left: 450%;
    padding-top: 10px;
    font-size: 70%;
}
.create_button{
    padding:10px 15px;
    background: black;
    color: white;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding-top: 10px;
    font-size: 70%;
    margin-top:1%;
}


/*posting jobs page*/

.posting_title{
    background-color:#000000;
	color:#FFFFFF;
	font-size: 120%;
	width: 20%;
	text-align: center;
	margin-left: 2%;
}

.add_jobs{
	margin-right: 2%;
	width: 43%;
	height: 50%;
	border: thin #000000 solid;
	text-align: center;
	padding-top:8%;
	padding-bottom: 8%;
	margin-bottom: 5%;

}


.jobdesignation{
    float: left;
    width: 40%;

}
.typeofjob{
    float: right;
    width: 40%;

}


/*jobform page*/

.jobform {
	border: thin #000000 solid;
	margin-bottom: 5%;
	width: 90%;
	margin-left: 5%;
	margin-top: 5%;

}
.comname_Cen {
	padding-left: 25%;
}
.picture {
	padding-left: 2%;
	float: left;
	width: 40%;

}
.submitpic{
	border: thin #000000 solid;
	width: 20%;
	margin-left: 8%;
	padding-left: 1.5%;
	margin-top: 6%;
	margin-bottom: 1%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}
.uploadpic {
	margin-top: 5%;
	margin-bottom: 5%;
	padding-top: 10%;
	padding-bottom: 10%;


}

.upload{
	margin-left: 23%;
	margin-top:-5%;

}

.typeofjob{
	margin-bottom: 12%;
	padding-top: 5%;
    margin: 10%;
}

.type {
	padding-left: 2%;
	float: left;
}
.description{
	float: right;
	width: 51.1%;
}
.description_box{
	float: right;
	padding-right: 3%;
	margin-right:8%;
	margin-top: -1.5%;
	width: 30%;
	padding-bottom: 5%;

}
.requirement{
	float: right;

	margin-top: 20%;

}
.requirement_box{
	float: right;
	margin-right: -40%;
	margin-top: 24%;
	width: 30%;
	padding-bottom: 5%;

}

.reset{
	margin-left: 85%;
	margin-bottom: 1%;
	margin-right: 1%;
}

input[type=submit] {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=reset] {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* Employer page*/

.applicantlist{
	text-align: center;
	margin-top: -1%;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}



.homepost{
    float: left;
}
.companyImage{
    float: left;
    margin-top: 30px;
    margin-left: 30px;
}

.requirements{
    overflow: hidden;
    padding: 10px;
    height: 170px;
    width: 800px;
    margin-right: 10px;
}

.headlinenews{
    background-color: #d1d1d1;
    float: right;
    width:20%;
    padding-left: 30px;
    padding-right: 20px;

}

.headlinenews p{
    text-align: center;
    padding-bottom: 30px;
    background-color: #000000;
    color: white;
    padding-top: 30px;
    width:280px;

}

.form{
    text-align: center;
    padding-bottom: 50px;
}

.bioform form{
    padding-top: 50px;
    text-align: center;
}

.workform label{
    padding-left: -150px;

}

.educationform form{
    padding-bottom: 30px;
}

input[type=submit], input[type=reset]{
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
