
.logo{
    float: left;
    padding-left: 50px;
}

.menuBar img{
    margin-top: 25px;
}

.menuImage{
    position: relative;
    text-align: center;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.textOnImage{
    position: absolute;
    top: 50%;
    /*transform: translate(-50%, -50%);*/
    font-size: 35px;
}

.sign{
    background-color: white;
    border: black;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 25px;
    vertical-align: center;
}

.homeDiv{
    border-color: black;
    overflow: hidden;
    background-color: lightgray;
    padding: 10px;
    height: 130px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.homeImage{
    float: left;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}


.navtab{
    padding-left: 20%;

}

.imgpla{
    margin-top: -20px;
    margin-left: -30px;
}


.navbar{
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    text-align: center;
    width: 100%;
}

.navbar a{
    color: white;
    text-align: center;
    padding-left: 100px;
    text-decoration: none;
    font-size: 25px;
    display: inline;
    border-radius: 25px;
}

.navbar img{
    position: absolute;
    margin-left: -200px;
    margin-top: -18px;
}

.navbar button{
    width: 100px;
    height: 40px;
}

.student {
    width: 48%;
    float: left;
    border-right: #969696;
    border-right-width: 10px;
    border-right-style:solid ;
    padding-bottom: 280px;
}

.student p{
    padding-top: 100px;
    font-size: 40px;
    text-align: center;
    padding-bottom: 30px;
}

.student td{
    font-size: 25px;
    padding-bottom: 30px;
    padding-left: 40px;
}

.student table{
    font-size: 25px;
    padding-left: 40px;
}

.student a{
    float: right;
    padding-right: 80px;
    width: 100px;
    height: 40px;
}

.student button{
    font-size: 20px;
    background-color: black;
    color:white;
}

.employer{
    width:45%;
    float: right;
}

.employer p{
    padding-top: 100px;
    text-align: center;
    font-size: 40px;
    padding-bottom: 30px;
}

.employer td{
    font-size: 25px;
    padding-bottom: 30px;
    padding-left: 40px;
}

.employer button{
    font-size: 20px;
    background-color: black;
    color:white;
}

.employer a{
    float: right;
    padding-right: 100px;
}





.create{
    width: 50%;
    float: left;
}

.create p{
    font-size: 40px;
    padding-left: 40px;
}

.create table{
    padding-left: 40px;
}

.create td{
    font-size:25px;
    padding-bottom: 10px;
    padding-right: 30px;
}

.create choice1 {
    font-size: 18px;
}

.create choice2{
    font-size: 18px;
}

.termsandcondition{
    padding-top: 60px;
    width: 50%;
    float: right;
}

.termsandcondition caption{
    font-size: 18px;
    text-align: center;
    background-color: black;
    color: white;
}

.termsandcondition button{
    font-size: 20px;
    background-color: black;
    color:white;
}

.sign_inbutton{
    padding:10px 15px;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-left: 400%;
    padding-top: 10px;
    font-size: 70%;
    background-color: black;
    color: #FFFFFF;
}
.create_button{
    padding:10px 15px;
    background: black;
    color: white;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding-top: 10px;
    font-size: 70%;
    margin-top:1%;
}





.posting_title{
    background-color:#000000;
	color:#FFFFFF;
	font-size: 120%;
	width: 20%;
	text-align: center;
	margin-left: 2%;
}

.add_jobs{
	margin-left: 5%;
	width: 40%;
	border: thin #000000 solid;
	text-align: center;
	padding-top:2%;
	padding-bottom: 2%;
    margin-bottom: 1%;
}

.jobs{
	margin-right: 2%;
	margin-left: 5%;
	width: 40%;
	border: thin #000000 solid;
	text-align: center;
	padding-top:2%;
	padding-bottom: 3%;
	margin-bottom: 5%;
    float: left;
    max-height: 50%;
}
.comp_img{
    align-content: center;

}
.jobdesignation{
    float: left;
    width: 40%;

}
.typeofjob{
    width: 50%;
	float: right;
    margin-top: -6%;
    padding-bottom: -10%;

}
.description_for{
	padding-top:20%;
	margin-left: 2%;
    margin-right: 2%;
}

.jobform {
	border: thin #000000 solid;
	margin-bottom: 5%;
	width: 90%;
	margin-left: 5%;
	margin-top: 5%;

}
.comname_Cen {
	padding-left: 2%;
    padding-bottom: 1%;
}
.designation {
	padding-left: 3.2%;
    padding-bottom: 3%;
}
.picture {
	padding-left: 2%;
	float: left;
	width: 40%;

}
.submitpic{
	border: thin #000000 solid;
	width: 20%;
	margin-left: 8%;
	padding-left: 1.5%;
	margin-top: 6%;
	margin-bottom: 5%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}
.uploadpic {
	margin-top: 5%;
	margin-bottom: 5%;
	padding-top: 10%;
	padding-bottom: 10%;


}

.upload{
	margin-left: 23%;
	margin-top:-5%;

}

.typeofjob{
	margin-bottom: 12%;
	padding-top: 5%;
}
.type {
	padding-left: 2%;
	float: left;
}
.description{
	float: right;
	width: 51.1%;
}
.description_box{
	float: right;
	padding-right: 3%;
	margin-right:8%;
	margin-top: -1.5%;
	width: 30%;
	padding-bottom: 5%;

}
.requirement{
	float: right;

	margin-top: 20%;

}
.requirement_box{
	float: right;
	margin-right: -40%;
	margin-top: 24%;
	width: 30%;
	padding-bottom: 5%;

}

.reset{
	margin-left: 85%;
	margin-bottom: 1%;
	margin-right: 1%;
}

input[type=submit] {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=reset] {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* Employer page*/

.applicantlist{
	text-align: center;
	margin-top: -1%;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}



.homepost{
    float: left;
}
.companyImage{
    float: left;
    margin-top: 30px;
    margin-left: 30px;
}

.requirements{
    overflow: hidden;
    padding: 10px;
    height: 170px;
    width: 550px;
    margin-right: 10px;
}

.headlinenews{
    background-color: #d1d1d1;
    float: right;
    width:25%;
    padding-left: 30px;
    padding-right: 20px;

}

.headlinenews p{
    text-align: center;
    padding-bottom: 30px;
    background-color: #000000;
    color: white;
    padding-top: 30px;
    width:300px;

}

.form{
    text-align: center;
    padding-bottom: 50px;
}

.bioform form{
    padding-top: 50px;
    text-align: center;
}

.workform label{
    padding-left: -150px;

}

.educationform form{
    padding-bottom: 30px;
}

input[type=submit], input[type=reset]{
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.adversitementBar{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 30px;
    margin-left: 25px;
    width: 200px;
    height: 550px;
    float: right;
    border: 1px black;
    background-color: lightgrey;
}

.adInnerBar{
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    width: 158px;
    height: 445px;
    float: inside;
    border: 1px solid black;
    background-color: white;
}
.paraInAdBar{
    padding: 10px;
}

.adverImg{
    margin-top: 15px;
}

.JOBdivide1{
    width: 350px;
    height: 620px;
    float: left;
}

.JOBdivide2{
    width: 580px;
    height: 620px;
    float: right;
}

.ApplyButton{
    width: 580px;
    height: 30px;
    background-color: black;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    padding: 1px;
    border: none;
}

.JobDescribToApply{
    margin-left: 30px;
    width: 950px;
    height: 700px;
}

.imgDiv1{
    width: 350px;
    height: 250px;
}

.centraliseBar{
    height: 150px;
    background-color: lightgrey;
    position: relative;
}

.studentPic{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 1px solid black;
    position: absolute;
    z-index: 10;
    margin-left: 100px;
    margin-top: 50px;
    background-color: lightblue;
}

.personDet{
    height: 40px;
    width: 300px;
    margin-left: 350px;
    position: absolute;
    margin-top: 30px;
}

.editCV{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: black;
    color: white;
    border-color: black;
}

.contactD {
    float: right;

}

.barbottom{
    height: 2px;
    width: 700px;
    border: 1px solid black;
    background-color: black;
}

.workExp{
    margin-top: 250px;
    margin-left: 100px;
}

.educationD{
    margin-left: 100px;
}

.profileforPic{
    padding-left: 250px;
    padding-bottom: 25px;

}

.profpic{
    margin-top: -4px;
    padding-left: 8%;

}
.job_list{
    border: 1px solid black;
    width: 700px;
    height: 200px;
    margin-top: 5%;
    margin-left: 20%;
    padding-bottom: 2%;
    padding-right: 2%;
}
.job_list img{
    margin-top: 20px;
}
.companyPic{
    float:left;
    padding-right: 20px;
    padding-left: 20px;
}
.applicant{
    background-color: white;
    color: black;
    border: black thin solid;
    margin-left: 25%;
    width: 50%;
    margin-bottom: 10%;
}