<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <title>JCUConnect</title>
</head>
<body>
<div class="navbar">
    <img class="logo" src="../static/images/jcuconnectlogo.png" height="71px" width="150px" alt="JCUConnect Logo">
    <a href={{ url_for('student_home_page') }}>Home</a>
    <a href={{ url_for('student_jobs') }}>Jobs</a>
    <a href="">Contact Us</a>
    <a href=""><img class="profile" src="../static/images/profile.png" height="45px" width="60px" alt="Profile"></a>
    <a href={{ url_for('logout') }}><button class="logout">Sign out</button></a>
</div>

<form action="{{ url_for('cv_form') }}" method="post" name="bioForm" id="bioForm" enctype='multipart/form-data'>
<div class="form">
    <div class="bioform">
        {{ form.csrf_token }}
          <center><table width="477" border="0">
              <img src="../static/images/Bio.png" width="314" height="94">
              <tbody>
              <tr>
                  <td>{{ form.student_picture.label }}</td>
                  <td>{{ form.student_picture }}<br></td>
              </tr>
          <tr>
          <td>{{ form.student_name.label }}</td>
          <td>
              {{ form.student_name }}
          <br></td>
          </tr>

          <tr>
          <td>{{ form.student_phone.label }}</td>
          <td>
              {{ form.student_phone }}
          <br></td>
          </tr>

          <tr>
          <td>{{ form.student_mobile.label }}</td>
          <td>
              {{ form.student_mobile }}
          <br></td>
          </tr>

          <tr>
              <td>{{ form.student_email.label }}</td>
          <td>
              {{ form.student_email }}
          <br></td>
          </tr>

          <tr>
          <td>{{ form.student_address.label }}</td>
          <td>
              {{ form.student_address }}
          <br></td>
          </tr>

              </tbody>
          </table>
          </center>
    </div>
    <br><br><br>

    <div class="educationform">
        <img src="../static/images/education.png" width="340" height="119">
            <center><table width="477" border="0">
              <tbody>
          <tr>
          <td>{{ form.student_education.label }}</td>
        <td>
            {{ form.student_education }}
            <br></td></tr>

          <tr>
          <td>{{ form.student_university.label }}</td>
        <td>
            {{ form.student_university }}
            <br></td></tr>

          <tr>
          <td>{{ form.student_major.label }}</td>
        <td>
            {{ form.student_major }}
        </td></tr><br>

          <tr>
          <td>{{ form.student_university_country.label }}</td>
        <td>
            {{ form.student_university_country }}
            <br></td></tr>

              <tr>
          <td>{{ form.student_graduate_year.label }}</td>
        <td>
            {{ form.student_graduate_year }}
            <br></td></tr>

              </tbody>
            </table>
            </center>
    </div>
        <br><br><br>

    <div class="workform">
        <img src="../static/images/workexperience.png" width="364" height="100">
            <center><table width="600" border="0">
              <tbody>
          <tr>
          <td>{{ form.student_work_experience.label }}</td>
        <td>
            {{ form.student_work_experience }}
        </td><br>

          <tr>
          <td>{{ form.student_projects.label }}</td>
        <td>
            {{ form.student_projects }}
        </td><br></tr>

          <tr>
          <td>{{ form.student_workshops.label }}</td>
        <td>
            {{ form.student_workshops }}
        </td><br>
          </tr>
              </tbody>
            </table>
            </center>
    </div>
    <br><br><br>

    <div class="extrasForm">
        <img src="../static/images/contact.png" width="331" height="93">
            <center><table width="400" border="0">
              <tbody>
          <tr>
          <td>{{ form.student_skills.label }}</td>
          <td>
              {{ form.student_skills }}
              <br></td></tr>

          <tr>
          <td>{{ form.student_interests.label }}</td>
          <td>
              {{ form.student_interests }}
              <br></td></tr>
              </tbody>
            </table>
            </center>
    </div>
    <br>
    <br>
    <br>
    <br>
    <input class="reset" type="reset">{{ form.submit_cv }}
</div>


</form>
</body>
</html>