<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <link rel="shortcut icon" href="../static/images/circle.png">
    <title>JCUConnect</title>
</head>
<body>
<div class="navbar">
    <img class="logo" src="../static/images/jcuconnectlogo.png" height="71px" width="150px" alt="JCUConnect Logo">
    <a href={{ url_for('employer_home_page') }}>Home</a>
    <a href={{ url_for('display_employer_jobs') }}>Jobs</a>
    <a href="">Contact Us</a>
    <a href={{ url_for('logout') }}><button class="Sign out">Sign out</button></a>
</div>
<div class="menuImage">
<img src="../static/images/buildings.jpg" height="300" width="100" alt="Picture of buildings" style = width:100%>
</div>

<div class="posting_title">
<h1>Posted Jobs</h1>
</div>

{% for post in posts %}
<div class="add_jobs">
<div class="jobdesignation">
    <p><b> Designation: </b></p>{{ post.Job_Designation }}</div><div class="typeofjob"><p> <b>Type of job:</b></p> {{ post.Job_Type }}</div><p><b>Job Description:</b></p> {{ post.Job_Description }}
</div>
{% endfor %}



<a href={{ url_for('postjob') }}>
    <div class="add_jobs">
	<img src="../static/images/add1.png" height="104px" width="104px">
        <h2><center>Add Job</center></h2>
</div>
</a>
</body>
</html>