<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="shortcut icon" href="../static/images/circle.png">
    <title>JCUConnect</title>
</head>
<body>
<div class="navbar">
    <img class="logo" src="../static/images/jcuconnectlogo.png" height="71px" width="150px" alt="JCUConnect Logo">
    <a href="index.html">Home</a>
    <a href="">Jobs</a>
    <a href="">Contact Us</a>
    <a href="index.html"><button class="Sign out">Sign out</button></a>
</div>
<div class="menuImage">
    <img src="../static/images/buildings.jpg" height="300px" width="100%" alt="Picture of buildings">
</div>

<div class="applicantlist">
<h2>List of applications:</h2>
	
</div>
</body>
</html>
