<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="images/circle.png" type="image/jpg">
    <link rel="stylesheet" href="posting_jobs.css">
    <title>JCU CONNECT</title>
</head>
<body>
<div class="menuBar">
    <img class="logo" src="images/circle.png" height="" width="" alt="JCUConnect Logo">
    <img src="images/text.png" height="" width="" alt="JCUConnect text">
    <a>Home</a>
    <a>Jobs</a>
    <a>Contact Us</a>
    <button class="sign">Sign In</button>
    <button class="sign">Sign Up</button>
</div>

</body>
</html>