<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <link rel="shortcut icon" href="../static/images/circle.png">
    <title>Apply for the job</title>
</head>
<body>

<div class="navbar">
    <table class="navtab">
<tr>
	<td><div class="imgpla"><img class="logo" src="../static/images/jcuconnectlogo.png"  height="71px" width="180px" alt="JCUConnect Logo"></div></td>
    <td><a href={{ url_for('student_home_page') }}>Home</a></td>
    <td><a href={{ url_for('student_jobs') }}>Jobs</a></td>
    <td><a href="">Contact Us</a></td>
    <td><div class="profpic"><a href={{ url_for('redirect_cv') }}><img class="profileforPic" src="../static/images/profile.png" height="45px" width="60px" alt="Profile"></a></div></td>
    <td><a href={{ url_for('logout') }}><button class="logout">Log out</button></a></td>
    </tr>
</table>

</div>


<div class="JobDescribToApply">
    <H2 class="Job Name">Company Name: {{ post.Company_Name }}</H2>
    <div class="JOBdivide1">
        <img class="imgDiv1" src="{{ post.Company_Picture }}">
        <p><strong> Type of job: </strong> {{ post.Job_Type }}</p>

    </div>

    <div class="JOBdivide2">
        <h3>Designation: {{ post.Job_Designation }}</h3>
        <h3>Job Description:</h3>
        <p class="JobDescrib">{{ post.Job_Description }}</p>
        <h3>Requirements:</h3>
        <p class="jobRequire">{{ post.Job_Requirements }}</p>

        <a href={{ url_for('sendCV', job_id=post._id) }} ><button class="ApplyButton">APPLY</button></a>

    </div>

</div>

</body>
</html>