<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <link rel="shortcut icon" href="../static/images/circle.png">
    <title>Your CV</title>
    <style>
        .cv_profile{
            display: inline-block;
            width: 100px;
            height: 100px;
            background-position: 50% 50%;
            background-size: cover;
            border-radius: 50%;
            min-height: 100%;
            min-width: 100%;
        }
        body{
            margin: 5%;
            border: black;
            border-style: inset;
        }
        .personDet{

        }
    </style>
</head>
<body>
<div class="centraliseBar">
    <div class="studentPic">
        <img class="cv_profile" src="{{ post.Student_picture }}">
    </div>

    <div class="personDet">
        <h2>Name: {{ post.Student_name }} </h2>
        <p>Education: {{ post.Student_education }} </p>
        <p>Graduation year: {{ post.Student_graduate_year }}</p>
    </div>

</div>

<div class="contactD">
    <h3 style="margin-right: 600px">CONTACT</h3>
    <div class="barbottom">
    </div>
    <h3></h3>
    <p><i>Phone: </i> {{ post.Student_phone }}</p>
    <p><i>Mobile: </i> {{ post.Student_mobile }}</p>
    <p><i>Address: </i>{{ post.Student_address }}</p>
    <p><i>Email: </i>{{ post.Student_email }}</p>

</div>

<div class="workExp">
    <h3>WORK EXPERIENCE</h3>
    <div class="barbottom" style="width: 100%"> </div>
    <div id="WorkExperi" style="width: 100%; height: 200px">
        <p>Work exprience: {{ post.Student_work_experience }}</p>
        <p>Projects: {{ post.Student_projects }}</p>
        <p>Workshops: {{ post.Student_workshops }}</p>
    </div>

</div>

<div class="educationD">
    <h3>EDUCATION</h3>
    <div class="barbottom" style="width: 100%"></div>
    <div id="EducatExperi" style="width: 100%; height: 100%">
        <p>Education: {{ post.Student_education }}</p>
        <p>Major: {{ post.Student_major }}</p>
        <p>University: {{ post.Student_university }}</p>
        <p>Country: {{ post.Student_university_country }}</p>
    </div>
</div>

<div class="educationD">
    <h3>SKILLS</h3>
    <div class="barbottom" style="width: 100%"></div>
    <div id="EducatExperi" style="width: 100%; height: 100%">
       <p>Skills: {{ post.Student_skills }}</p>
    </div>
</div>

<div class="educationD">
    <h3>INTERESTS</h3>
    <div class="barbottom" style="width: 100%"></div>
    <div id="EducatExperi" style="width: 100%; height: 100%">
        <p>Interests: {{ post.Student_interests }}</p>
    </div>
</div>


</body>
</html>