<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <link rel="shortcut icon" href="../static/images/circle.png">
    <title>JCUConnect</title>
</head>
<body>
<div class="navbar">
    <table class="navtab">
<tr>
	<td><div class="imgpla"><img class="logo" src="../static/images/jcuconnectlogo.png" height="71px" width="150px" alt="JCUConnect Logo"></div></td>
    <td><a href={{ url_for('employer_home_page') }}>Home</a></td>
    <td><a href={{ url_for('display_employer_jobs') }}>Jobs</a></td>
    <td><a href="">Contact Us</a></td>
    <td><a href={{ url_for('logout') }}><button class="Sign out">Sign out</button></a></td>
    </tr>
</table>

</div>

<form action="{{ url_for('postjob') }}" method="post" enctype='multipart/form-data'>

<div class="jobform">
    {{ form.csrf_token }}
   <p class="comname_Cen">{{ form.company_name.label }}{{ form.company_name(size=30) }} </p>
   <div class="designation">
            {{ form.job_designation.label }}{{ form.job_designation }}
        </div>
    <div class="picture">
        <h3>{{ form.company_picture.label }}</h3>
</div>
<div class="description">
<h3>{{ form.job_description.label }}</h3>
</div>
<div class="description_box">
    {{ form.job_description }}

</div>
<div class="requirement">
   <h3>{{ form.job_requirements.label }}</h3>
</div>
<div class="requirement_box">
    {{ form.job_requirements }}

</div>
<div class="submitpic">
    <p>{{ form.company_picture }}</p>
</div>

    <div class="type">
<h3>Type of job: </h3></div>
<div class="typeofjob">

<select name="job_type" class style="width: 21%;" required>
  <option value="Part-time">Part-time Job</option>
  <option value="Full-time">Full-time Job</option>
  <option value="Contract">Contract</option>
</select>
</div>

<input class="reset" type="reset">{{ form.post_job }}
</div>
</form>

<script src="../static/scripts/pictureupload.js"></script>

</body>
</html>

