<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <title>Home | JCUConnect</title>
</head>
<body>
<div class="navbar">
    <table class="navtab">
<tr>
	<td><div class="imgpla"><img class="logo" src="../static/images/jcuconnectlogo.png"  height="71px" width="180px" alt="JCUConnect Logo"></div></td>
    <td><a href={{ url_for('student_home_page') }}>Home</a></td>
    <td><a href={{ url_for('student_jobs') }}>Jobs</a></td>
    <td><a href="">Contact Us</a></td>
    <td><div class="profpic"><a href={{ url_for('redirect_cv') }}><img class="profileforPic" src="../static/images/profile.png" height="45px" width="60px" alt="Profile"></a></div></td>
    <td><a href={{ url_for('logout') }}><button class="logout">Log out</button></a></td>
    </tr>
</table>

</div>

<div class="menuImage">
    <img src="../static/images/buildings.jpg" height="300px" width="100%" alt="Picture of buildings" style = width:100%>
</div>


<div class="homepost">

<img class="companyImage" src="../static/images/JYGroup%20jobsearch.jpg" height="" width="" alt="JY Group">
<div class="requirements">
    <h3>JY Group (Sales & Marketing Manager) Requirements : </h3>
    <p>1. Singaporean, Age 21 and above (MAS Requirements)<br>
    2. Minimum full certificate in GCE 'A' Level, International Baccalaureate Diploma qualification, diploma awarded by a polytechnic in Singapore<br><br>
    3. Enthusiastic, strong integrity, self-motivated and outgoing personality<br>
    4. Candidates with the required certifications and/or relevant experience</p>
</div>

<img class="companyImage" src="../static/images/singaporepress%20jobsearch.jpg" height="" width="" alt="Singapore Press Holdings Ltd">
<div class="requirements">
    <h3>Singapore Press Holding Ltd (Google Analytics) Requirements : </h3>
    <p>1. 4 or more years of experience in digital marketing with Google Analytics or GA360<br>
    2. Familiar with setting and analyzing goals and conversion funnels within Google Analytics<br>
    3. Able to study our business model and recommend suitable attribution models to assist in our ad budget</p>
</div>

<img class="companyImage" src="../static/images/plano%20jobsearch.jpg" height="" width="" alt="Plano Pte Ltd">
<div class="requirements">
    <h3>Plano Pte Ltd (Community Engagement Executive) Requirements : </h3>
    <p>1. Excellent communication skill<br>
    2. Good time management<br>
    3. Able to work well individually and in a team<br>
    4. Strong interpersonal skills and an ability to build rapport with stakeholders<br>
    5. An organized and structured approach to carry out duties</p>
</div>

</div>
<div class="headlinenews">
    <img src="../static/images/headlinenews.png"  width="300" height="115" alt="Headline News">
    <p>James Cook University in Singapore <br>
        has signed an MOU to set up Center of <br>
        Innovation in Aquaculture</p>
    <br>
    <p>Launch of the Tropical Futures <br>
        Institute at James Cook University <br>
        in Singapore</p>
    <br>
    <p>JCU rockets up the rankings</p>
    <br>
    <p>JCU signs two service agreements <br>
        with Chinese Services Center for <br>
        Scholarly Exchange (CSCSE)</p>
</div>

</body>
</html>